@model IEnumerable<Magic_Inventory.Models.StoreInventory>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.ActionLink("Stock Request", "Create","StockRequests", new { StoreID = item.StoreID, ProductID = item.ProductID }) 
               
            </td>
        </tr>
}
    </tbody>
</table>
