@model IEnumerable<Magic_Inventory.Models.OwnerInventory>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockLevel)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-primary btn-sm">Set Stock Level</a> 
            </td>
        </tr>
}
    </tbody>
</table>
