@model IEnumerable<Magic_Inventory.Models.Cart>

@{
    ViewData["Title"] = "Shopping Cart";
}
<head>
    <script>
        window.onload = function () {
            document.getElementById("ClickMinus").onclick = function () {
                document.getElementById("QuantityChangeMinus").submit();
                return false; // cancel the actual link
            }
            document.getElementById("ClickPlus").onclick = function () {
                document.getElementById("QuantityChangePlus").submit();
                return false; // cancel the actual link
            }
        }
    </script>
</head>
<h2>Shopping Cart</h2>
@{
    if (Model.Count() == 0)
    {
        <p>Nothing in the shopping cart! Please shop first</p>

    }

    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CartEntryDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Store)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th align="center">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CartEntryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Store.Name)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Price)
                        </td>

                        <td>
                            <form asp-action="Index" method="POST" name="someForm">
                                <input type="hidden" name="CartID" value="@item.CartID" />
                                <input type="submit" name="val" value="-" style="font-size:larger" width="2" height="2" />
                                @Html.DisplayFor(modelItem => item.Quantity)
                                <input type="submit" name="val" value="+" style="font-size:larger" width="2" height="2" />
                            </form>
                        </td>
                        <td>
                            <a asp-action="DeleteItem" asp-route-id="@item.CartID">Delete</a>
                        </td>
                    </tr>
                }
                <tr><td><hr /></td></tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        Cost: $@ViewData["cost"]
                    </td>
                    <td>
                        Total: @ViewData["item"]
                    </td>
                    <td>
                        <form asp-action="VerifyCreditCard" method="post">
                            @{if (Model.LongCount() == (long)0)
                                {<input type="submit" hidden="hidden" disabled value="Check out" />}
                                else
                                { <input type="submit" value="Check out" /> }
                            }
                        </form>

                    </td>
                </tr>
            </tbody>
        </table>
    }
}