@model IEnumerable<Magic_Inventory.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartEntryDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartEntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-action="VerifyCreditCard" method="post">
    @*<input type="hidden" name="ProductID" value="@item.ProductID" />
    <input type="hidden" name="StoreID" value="@item.StoreID" />*@
    @{if (Model.LongCount() == (long)0) {<input type="submit" hidden ="hidden" disabled value="Check out" />}
        else { <input type="submit" value="Check out" /> }
    } 
</form>
