@model IEnumerable<Magic_Inventory.Models.Cart>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>Shopping Cart</h2>
@{ 
    if (Model.Count() == 0)
    {
        <p>Nothing in the shopping cart! Please shop first</p>

    }

    else
    {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartEntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartEntryDate)                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <form method="post">
                    &nbsp;&nbsp;<a asp-action="Index" asp-route-cartID="@item.CartID" asp-route-val="Minus"><img src="~/images/minus.jpg" alt="A" width="10" height="8" /></a>
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <a asp-action="Index" asp-route-cartID="@item.CartID" asp-route-val="Plus"><img src="~/images/plus.png" alt="A" width="10" height="10" /></a>
                </form>
            </td>
            <td>
                <a asp-action="DeleteItem" asp-route-id="@item.CartID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-action="VerifyCreditCard" method="post">
    @{if (Model.LongCount() == (long)0)
        {<input type="submit" hidden ="hidden" disabled value="Check out" />}
        else
        { <input type="submit" value="Check out" /> }
    } 
</form>
            }
        }