@model IEnumerable<Magic_Inventory.Models.OrderHistory>

@{
                ViewData["Title"] = "invoice";
            }
<h2>Receipt</h2>
@{
                if (Model.Count() == 0)
                {
    <p>Something Went wrong. Sorry!!</p>
            
    }

                else
                {
    <table border="1">
        <tr>
            <td>
                <table border="0" style="width:100%;" >
                    <tr style="border-bottom:double"><td align="center" colspan="2">
                            <h4 align="center">Magic Inventory Invoice</h4>
                        </td></tr>
                    <tr style="padding:5px"><td style="padding:5px">@Html.DisplayNameFor(model => model.OrderDate): @ViewData["date"]</td><td style="padding:5px; align-content:flex-end"> UserName: @ViewData["name"]</td></tr>
                    <tr><td style="padding:5px; padding-right:10px"> OrderNumber:  @ViewData["number"]</td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table" align="center" width="100" >
                    <thead>
                        <tr border="1">
                            <th>
                                
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Store)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th align="center">
                                @Html.DisplayNameFor(model => model.Price)                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.OrderDate)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Store.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
                        <tr><td><hr /></td></tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                Total: @ViewData["item"]
                            </td>
                            <td>
                                Cost: $@ViewData["cost"]
                            </td>
                            @*<td>
                                <form asp-action="VerifyCreditCard" method="post">
                                    @{if (Model.LongCount() == (long)0)
                                {<input type="submit" hidden="hidden" disabled value="Check out" />}
                                else
                                { <input type="submit" value="Check out" /> }
                                    }
                                </form>

                            </td>*@
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-top:none"><td rowspan="3" style="align-content:flex-end"><small>* Product returns only accepted within seven days of perchase.</small></td></tr>
    </table>
    }
}