@model IEnumerable<Magic_Inventory.Models.StoreInventory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form asp-action="Index">
    <p>
        Stores: <select name="store" asp-items="@(new SelectList(Model.Select(s => s.Store.Name).Distinct()))">
            <option value="">All Stores</option>
        </select>
        Title: <input type="text" value="@ViewData["searchName"]" name="searchName">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                <form asp-action="AddToCart">
                    <input type="number" min="1" max="@item.StockLevel" value="1" style="width: 40px;" name="Quantity" />
                    <input type="hidden" name="ProductID" value="@item.ProductID" />
                    <input type="hidden" name="StoreID" value="@item.StoreID" />
                    <input type="submit" value="Add to cart" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
